
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 2vw;
}
h1{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.form{
    width: 100%;
}
.card-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    padding: 20px 50px;
    border-radius: 10px;
    color: white;
    background-color: rgb(19, 0, 32);
    border: 2px solid rgb(75, 0, 122);
    margin: 20px;
    box-shadow: 5px 5px 5px black;
}
.selecao, input[type=text]{
    color: white;
    font-weight: 500;
    outline: 0;
    width: 100%;
    padding: 5px 10px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(75, 0, 122);
    background-color: rgb(30, 0, 51);
    margin: 10px 0;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(75, 0, 122);
    margin: 10px;
}
.poder{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
p{
    margin-top: 20px;
}
.poder progress{
    width: 80%;
}
.poder input{
    outline: 0;
    color: white;
    border: 1px solid rgb(75, 0, 122);
    background-color: rgb(30, 0, 51);
    width: 15%;
    padding: 5px 5px;
}
.btn-adiciona{
    background: white;
    font-weight: 500;
    margin-top: 20px;
    border-radius: 10px;
    padding: 0.5vw 2vw;
    border: 2px solid white;
    color: rgb(19, 0, 32);
    box-shadow: 3px 3px 3px black;
}
.btn-adiciona:hover{
    transform: scale(1.01);
}
.list-cards{
    width: 50vw;
    height: 535px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1.5vw;
    flex-wrap: wrap;
    margin: 20px 0;
}